@import "../../vars.css";

.container {
  margin-top: 56px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  color: var(--color-text);
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0px 20px 0px !important;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.slider-container {
  display: flex;
  justify-content: center; /* Centers the card horizontally */
  align-items: center; /* Centers the card vertically if necessary */
  height: 100vh; /* Optional: makes the container fill the viewport */
}


.slick-dots li button:before {
  font-family: 'slick';
  font-size: 11px;
  line-height: 20px;
  position: absolute;
  top: 18px;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 830px) {
  
  .container{
    margin-left: 0%;
    margin-right: 0%;
  }

  .title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sliderview {
    display: flex;
    align-items: center !important;
    gap: 20px !important;
    margin: 0px 8px!important;
  }
  
  
  }